[package]
name = "shared"
version = "0.1.0"
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[dependencies]
serde = { workspace = true }
async-trait = "0.1"

[dev-dependencies]
serde_json = { workspace = true }

[lints]
workspace = true
